* {
    box-sizing: border-box;
}

.crystals {
    background-color: purple;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 10px;
        &__crystalList {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 5px;
            border: 3px solid ghostwhite;
            border-radius: 3px;
            width: 100%;
            max-width: 200px;
            min-width: 140px;
            box-sizing: border-box;
            margin: 10px;
            &__product {
                color: ghostwhite;
                font-size: 30px;
                text-align: center;
                padding: 0 0 0 0;
            }
            &__quantity {
                color: yellow;
                font-size: 20px;
                text-align: center;
                padding: 0 0 20px 0;
            }
            &__price {
                color: rgb(119, 119, 100);
                font-size: 20px;
                text-align: center;
                padding: 0 0 20px 0;
            &__last_order {
                color: rgb(40, 57, 119);
                font-size: 20px;
                text-align: center;
                padding: 0 0 20px 0;
                span {
                    i {
                        font-size: 14px;
                        color: lightcoral;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    }
                }
            }
        }
    }
}
}